body{
	background-color: #b0a1a1;
	margin: 0px;
}

.header{
	width: 100%;
	height: 100px;
	background: #ececec;
	position: fixed;
}
.image{
	position: fixed;
	top: -10px;
	left: 30px;
	width: 20px;
	height: 20px;
}
.search{
	position: fixed;
	top: 40px;
	left: 39%;
	color: #787575;
}
.aboutMe{
	position: fixed;
	top: 33px;
	left: 82%;
	font-size: 32px;
}
.aboutMe a{
	text-decoration: none;
	color: black;
}
.aboutMe a:hover{
	font-style: italic;
	color: red;
}
.article{
	width: 1400px;
	height: 1000px;
	background: #787575;
	margin: auto;
}
.footer{
	width: 100%;
	height: 120px;
	background: #333131;
	position:fixed;
   	bottom:0;
}
.country{
	font-size: 30px;
	color: #c00d0d;
	position: fixed;
	bottom: 40px;
	left: 200px;
}
.image2{
	position: fixed;
	bottom: 26px;
	left: 300px;
}
.image4{
	position: fixed;
	bottom: 25px;
	left: 1634px;
}
.image5{
	position: fixed;
	bottom: 20px;
	left: 1560px;
}
.image6{
	position: fixed;
	bottom: 29px;
	left: 1705px;
}
.image7{
	position: fixed;
	bottom: 29px;
	left: 1505px;
}